.container {
    width: 80%;
    max-width: 1000px;
    height: auto; 
    margin: 0 auto;
  }

  
  
  @media screen and (max-width: 768px) {
    
    .container {
      width: 90%;
      max-width: none; 
    }
  }
  