.container, .container:before, 
.container:after {
    box-sizing: border-box;
  }


  
  
.container {
    font-family: 'Open Sans', system-ui, sans-serif;
    margin: 0;
    position: static;
    display: block;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #f4f4f4;
    align-items: start;
    margin-bottom: -230px
    
  }
  
  .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color:black;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footerAddr {
    margin-right: 1.25em;
    margin-bottom: 2em;
    color: white;
  }
  
  .footerLogo{
    font-family: 'Open Sans', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footerAddr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .navTitle {
    font-weight: 400;
    font-size: 15px;
    color: white;
  }
  
  .footer address {
    font-style: normal;
    color:white;
  }
  
  .footerBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: #f2f2f2;
    border-radius: 100px;
    color:black;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
    text-shadow: 0px 0px 5px black;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
    
  }
  
  .footer li {
    line-height: 2em;
    
  }
  
  .footer a {
    text-decoration: none;
    color: white;
  }
  
  .footerNav {
    display: flex;
    flex-flow: row wrap;
  }
  
  .footerNav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .navUl {
    color: #999;
  }
  
  .navUlE{
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legalLinks {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .legalLinks span{
    color: white
  }
  
  .heart {
    color: white;
  }
  .footerEnd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .footerDivider {
    border-top: 1px solid white;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .footerEnd ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footerEnd p {
    flex-basis: 30%; 
    color: white;
    text-align: center; 
}
  
  
  @media screen and (min-width: 24.375em) {
    .legal .legalLinks {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footerNav > * {
      flex: 1;
    }
    
    .navItemE {
      flex-grow: 2;
    }
    
    .footerAddr {
      flex: 1 0px;
    }
    
    .footerNav {
      flex: 2 0px;
    }
  }