.container {
  background: white;
  font-family: 'Open Sans', sans-serif;
  gap: 0px;
  display: grid;
  grid-template-columns: repeat(2, 0.2fr); /* creates 3 equal-width columns */
  grid-gap: 2px; /* adds gap between columns and rows */
  margin-top: 20px;
  justify-content: center;
  
}

.cta-background {
  background-size: cover;
  background-position: center center;
  bottom: 0;
  filter: blur(50px);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  
}
.container1 {
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
}
.cta {
  background: black;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 622px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta:hover img {
  top: -10%;
  filter: brightness(70%);
}
.cta:hover .text {
  bottom: 0;
  justify-content: center;
}
.cta img {
  bottom: 0;
  filter: brightness(100%);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s ease-in-out;
  width: 115%;
}
.cta .text {
  bottom: -45%;
  padding: 15px;
  position: absolute;
  transition: 0.5s ease-in-out;
  justify-content: center;


}
.cta .text h2 {
  color: #fff;
  display: flex;
  font-weight: 300;
  margin-bottom: 5px;
  position: relative;
  justify-content: center;


}
.cta .text p {
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.text h2{
  align-self: center;
}