@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&family=Caveat&family=Concert+One&family=Courgette&family=Dangrek&family=Fredoka+One&family=Itim&family=Neucha&family=Pacifico&family=Pangolin&family=Patrick+Hand&family=Sniglet&family=Sono:wght@300;400;500;600&family=Space+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

@font-face {
  font-family: "SF";
  src: url("/src/Assents/SF.ttf") format("truetype");
  font-weight: 800;
  height: 100%;
  width: 100%;
}

:root {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --color-grey-700: #dce9ea;
  --smonkey-celeste-1: #3EC8FF;
  --smonkey-rosa-1:  ;
  --smonkey-blanco-1: #ffffff;
  --smonkey-violeta-1: #c49de4;
  --smonkey-aux: #c699e9;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden !important;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  margin-bottom: 220px;
  min-height: 100vh;
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(217, 255, 0)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:rgb(0, 0, 0)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
  cursor: pointer;
}